$border-width: 1px;
$border-widths: (
     1: 1px,
     2: 2px,
     3: 3px,
     4: 4px,
     5: 5px
);

$border-color: var(--color-neutral-400);

$border-radius-input: 20px;
$border-radius: .25rem;
$border-radius-sm: .2rem;
$border-radius-lg: 40px;
$border-radius-xl: 90px;
$border-radius-pill: 50rem;